<!DOCTYPE html>
<html>
   <head>
      <title>Birthday Tracker</title>
   </head>
   <style>
   body {
     font-family: Tahoma, sans-serif;
     color: #151515
   }
   </style>
   <center>
   <body style="background-color:#D1F2EB;">
      <h1 style="font-size:4vw">Hello!</h1>
      <p style="font-size:2vw"> Tell me about yourself </p>
      <p><i> Name </i></p>
      <p>[EMPTY BOX]</p>
      <p><i> When  is your birthday? </i></p>
      <p> [DROP DOWNS FOR MONTH AND DAY] </p>
   </body>
   </center>
</html>